.chat-box {
  // border: 2px solid red;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: url(https://e0.pxfuel.com/wallpapers/772/34/desktop-wallpaper-gradient-abstract-k-digital-art-logo-minimalism-minimalist-mocah.jpg);
    background-size: contain;
    z-index: -1;
    opacity: 0.4;
  }
}
.chat-header {
  // border: 2px solid blue;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
}
.name {
  color: rgb(3, 227, 3);
}
.chat-content {
  height: 100%;
  // border: 2px solid green;
  box-sizing: border-box;
  padding: 0px 30px;
  overflow: auto;
}

.send-box {
  // border: 2px solid blue;
  height: 8%;
  form {
    height: 100%;
    width: 100%;
    display: flex;
    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0px 30px;
      font-size: 18px;
      background-color: black;
      color: white;
      &[type="submit"] {
        width: 10%;
        background-color: red;
        padding: 0px;
        &:hover {
          background-color: rgb(116, 14, 14);
          cursor: pointer;
        }
      }
    }
  }
}
